vincontrol.Models/Service References/KBBServiceEndPoint/VehicleInformationService2008R2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KBB.VIS.Web.Service.R3.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KBB.VIS.Web.Service.R3.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://idws.syndication.kbb.com/3.0/VehicleInformationService2008R2.svc?xsd=xsd3" namespace="http://www.kbb.com/VehicleInformationService/2008/09" />
  <xs:complexType name="ArrayOfOptionValuation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OptionValuation" nillable="true" type="tns:OptionValuation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOptionValuation" nillable="true" type="tns:ArrayOfOptionValuation" />
  <xs:complexType name="OptionValuation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="PriceAdjustment" type="xs:decimal" />
      <xs:element xmlns:q1="http://www.kbb.com/VehicleInformationService/2008/09" minOccurs="0" name="PriceType" type="q1:PriceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OptionValuation" nillable="true" type="tns:OptionValuation" />
  <xs:complexType name="ArrayOfConfiguredOptionValuation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConfiguredOptionValuation" nillable="true" type="tns:ConfiguredOptionValuation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConfiguredOptionValuation" nillable="true" type="tns:ArrayOfConfiguredOptionValuation" />
  <xs:complexType name="ConfiguredOptionValuation">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDefaultConfiguration" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
      <xs:element minOccurs="0" name="PriceAdjustment" type="xs:decimal" />
      <xs:element xmlns:q2="http://www.kbb.com/VehicleInformationService/2008/09" minOccurs="0" name="PriceType" type="q2:PriceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfiguredOptionValuation" nillable="true" type="tns:ConfiguredOptionValuation" />
</xs:schema>