Vincontrol.Payment/Web References/com.securenet.certify/sposserver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://gateway.securenet.com/sposws/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://gateway.securenet.com/sposws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://gateway.securenet.com/sposws/">
      <s:element name="ValidateLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Unlock" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateLoginResult" type="tns:SPOSParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SPOSParams">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="isADMIN" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="REFUND" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="VOID" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SALE" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CAPTURE" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="USERID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GroupID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GatewayID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResellerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PasswordPrompt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISOId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdminEmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurenetID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecureKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="isValid" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LoadKey" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="AutoLogin" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="IndustryCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateSNET">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SecurenetID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Unlock" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSNETResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateSNETResult" type="tns:SPOSParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SecurenetID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Unlock" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GroupList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Unlock" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GroupListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GroupListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecurenetID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SecureKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindTransactionResult" type="tns:TransactionResponseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransactionResponseData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Response_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Response_Subcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Response_Reason_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Response_Reason_Text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Approval_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AVS_Result_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Card_Code_Response_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAVV_Response_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Transaction_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Order_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Method" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Transaction_Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cardholder_FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cardholder_LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bank_ACCNT_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Billing_Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Level2_Valid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Level3_Valid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalData1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalData2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BatchID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionDateTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SettlementDateTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Last4Digits" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpiryDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GratuityAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SettlementAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CheckNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bank_aba_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bank_acct_type" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLogin" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSNETSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSNET" />
  </wsdl:message>
  <wsdl:message name="UpdateSNETSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSNETResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GroupListSoapIn">
    <wsdl:part name="parameters" element="tns:GroupList" />
  </wsdl:message>
  <wsdl:message name="GroupListSoapOut">
    <wsdl:part name="parameters" element="tns:GroupListResponse" />
  </wsdl:message>
  <wsdl:message name="FindTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:FindTransaction" />
  </wsdl:message>
  <wsdl:message name="FindTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:FindTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="SPOSServerSoap">
    <wsdl:operation name="ValidateLogin">
      <wsdl:input message="tns:ValidateLoginSoapIn" />
      <wsdl:output message="tns:ValidateLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSNET">
      <wsdl:input message="tns:UpdateSNETSoapIn" />
      <wsdl:output message="tns:UpdateSNETSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GroupList">
      <wsdl:input message="tns:GroupListSoapIn" />
      <wsdl:output message="tns:GroupListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindTransaction">
      <wsdl:input message="tns:FindTransactionSoapIn" />
      <wsdl:output message="tns:FindTransactionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SPOSServerSoap" type="tns:SPOSServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateLogin">
      <soap:operation soapAction="https://gateway.securenet.com/sposws/ValidateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSNET">
      <soap:operation soapAction="https://gateway.securenet.com/sposws/UpdateSNET" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="https://gateway.securenet.com/sposws/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupList">
      <soap:operation soapAction="https://gateway.securenet.com/sposws/GroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindTransaction">
      <soap:operation soapAction="https://gateway.securenet.com/sposws/FindTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SPOSServerSoap12" type="tns:SPOSServerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateLogin">
      <soap12:operation soapAction="https://gateway.securenet.com/sposws/ValidateLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSNET">
      <soap12:operation soapAction="https://gateway.securenet.com/sposws/UpdateSNET" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="https://gateway.securenet.com/sposws/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupList">
      <soap12:operation soapAction="https://gateway.securenet.com/sposws/GroupList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindTransaction">
      <soap12:operation soapAction="https://gateway.securenet.com/sposws/FindTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SPOSServer">
    <wsdl:port name="SPOSServerSoap" binding="tns:SPOSServerSoap">
      <soap:address location="http://certify.securenet.com/spos/sposserver.asmx" />
    </wsdl:port>
    <wsdl:port name="SPOSServerSoap12" binding="tns:SPOSServerSoap12">
      <soap12:address location="http://certify.securenet.com/spos/sposserver.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>